body{
  margin:0;
  font-weight: bold;
  font-family: sans-serif;
  background-color: blue;
}

#button1{
  text-align: center;
  margin-top: 200px;
  z-index: 1000;
}

#generate{
  font-size: 35px;
  padding: 10px 20px;
  border-radius: 15px;
  z-index: 1000;
}

emoji1, emoji2, emoji3, emoji4, emoji5, emoji6, emoji7, emoji8, emoji9{
  z-index: 100;
}

p{
  margin: 0;
  font-size: 16px;
}
