html, body {
  margin: 0;
  background-color: white;
}

/* #switch {
  text-align: center;
  /* position: absolute; */
  /* margin-top: 100px;
} */

/* #on {
  text-align: center;
  /* position: absolute; */
  /* margin-top: 200px; */
/* } */


#volumeInput {
  display: none;
  margin: 0;
}

#control {
  text-align: center;
  /* margin-top: 100px; */
  /* transform: rotate(90deg); */
}

#frequency {
  text-align: center;
  /* margin-top: 100px; */
  transform: rotate(90deg);
}
