html, body {
  margin: 0;
  background-color: white;
}

#switch {
  /* text-align: center; */
  /* display:inline-block;
  position:relative;
  vertical-align: middle; */
  margin-top: 50px;
}


#volumeInput {
  display: none;
  margin: 0;
}

#control {
  text-align: center;
  /* margin-top: 100px; */
  /* transform: rotate(90deg); */
}

#frequency {
  text-align: center;
  /* margin-top: 100px; */
  transform: rotate(90deg);
}
