body{
  background-color: #1a472a;
  color: white;
}

@font-face {
  font-family: 'HARRYP';
  src: url('HARRYP__.TTF');
}

#main {
  /* margin: auto; */
  text-align: center;
  font-family: HARRYP;
  font-size: 30px;
  /* color: linear-gradient(to top, #000000, #1a472a, #2a623d) */
}

#spell{
  font-family: HARRYP;
  font-size: 25px;
}

#tt{
  margin: auto;
  width: 250px;
}

#tips{
  font-size: 25px;
  background-color: #1a472a;
  opacity: 0;
}

#tips:hover{
  opacity: 100;
  transition-duration: 2s;
}

#dd{
  margin: auto;
  width: 280px;
}

#dra{
  font-size: 25px;
  background-color: #1a472a;
  opacity: 0;
}

#dra:hover{
  opacity: 100;
  transition-duration: 2s;
}

#button{
  border-radius: 12px;
  padding: 0px 24px;
  transition-duration: 0.4s;
}

#button:hover{
  background-color: #1a472a; /* Green */
  color: white;
}

#bigdiv{
  text-align: center;
  margin-top: 20px;
}

#letter{
  text-align: center;
}

#div1{
  /* text-align: center; */
  width: 90px;
  height: 90px;
  margin: 20px;
  padding: 8px;
  /* margin-top: 10px; */
  display: inline-block;
  border: 2px solid #aaaaaa;
}

#div2{
  /* text-align: center; */
  width: 90px;
  height: 90px;
  margin: 20px;
  padding: 8px;
  /* margin-top: 10px; */
  display: inline-block;
  border: 2px solid #aaaaaa;
}

#div3{
  /* text-align: center; */
  width: 90px;
  height: 90px;
  margin: 20px;
  padding: 8px;
  /* margin-top: 10px; */
  display: inline-block;
  border: 2px solid #aaaaaa;
}

#div4{
  /* text-align: center; */
  width: 90px;
  height: 90px;
  margin: 20px;
  padding: 8px;
  /* margin-top: 10px; */
  display: inline-block;
  border: 2px solid #aaaaaa;
}

#div5{
  /* text-align: center; */
  width: 90px;
  height: 90px;
  margin: 20px;
  padding: 8px;
  /* margin-top: 10px; */
  display: inline-block;
  border: 2px solid #aaaaaa;
}

#div6{
  width: 90px;
  height: 90px;
  margin: 20px;
  padding: 8px;
  /* margin-top: 10px; */
  display: inline-block;
  border: 2px solid #aaaaaa;
}

#div7{
  /* text-align: center; */
  width: 90px;
  height: 90px;
  margin: 20px;
  padding: 8px;
  /* margin-top: 10px; */
  display: inline-block;
  border: 2px solid #aaaaaa;
}

#div8{
  /* text-align: center; */
  width: 90px;
  height: 90px;
  margin: 20px;
  padding: 8px;
  /* margin-top: 10px; */
  display: inline-block;
  border: 2px solid #aaaaaa;
}

#div9{
  /* text-align: center; */
  width: 90px;
  height: 90px;
  margin: 20px;
  padding: 8px;
  /* margin-top: 10px; */
  display: inline-block;
  border: 2px solid #aaaaaa;
}

#A{
  /* position: relative; */
  /* top: 500px;
  left: 100px;*/
  margin: 20px;
  display: inline-block;

}

#B{
  /* position: absolute; */
  /* top: 500px;
  left: 300px;*/
  margin: 20px;
  display: inline-block;
}

#C{
  /* position: absolute;
  top: 500px;
  left: 500px; */
  margin: 20px;
  display: inline-block;
}

#D{
  /* position: absolute;
  top: 500px;
  left: 700px; */
  margin: 20px;
  display: inline-block;
}

#E{
  /* position: absolute;
  top: 500px;
  left: 900px; */
  margin: 20px;
  display: inline-block;
}

#F{
  /* position: absolute;
  top: 500px;
  left: 1100px; */
  margin: 20px;
  display: inline-block;
}

#G{
  /* position: absolute;
  top: 500px;
  left: 1300px; */
  margin: 20px;
  display: inline-block;
}

#H{
  margin: 20px;
  display: inline-block;
}

#I{
  margin: 20px;
  display: inline-block;
}

#J{
  margin: 20px;
  display: inline-block;
}

#K{
  margin: 20px;
  display: inline-block;
}

#L{
  margin: 20px;
  display: inline-block;
}

#M{
  margin: 20px;
  display: inline-block;
}

#N{
  margin: 20px;
  display: inline-block;
}

#O{
  margin: 20px;
  display: inline-block;
}

#P{
  margin: 20px;
  display: inline-block;
}

#Q{
  margin: 20px;
  display: inline-block;
}

#R{
  margin: 20px;
  display: inline-block;
}

#S{
  margin: 20px;
  display: inline-block;
}

#T{
  margin: 20px;
  display: inline-block;
}

#U{
  margin: 20px;
  display: inline-block;
}

#V{
  margin: 20px;
  display: inline-block;
}

#W{
  margin: 20px;
  display: inline-block;
}

#X{
  margin: 20px;
  display: inline-block;
}

#Y{
  margin: 20px;
  display: inline-block;
}
#Z{
  margin: 20px;
  display: inline-block;
}
